//fonts
/* @import "web-fonts"; */
/* @import url(web-fonts-url("Raleway")); */
@import "style/fonts/linear.css";
@import "style/fonts/et-line.css";
@import url( 'https://fonts.googleapis.com/css?family=Dosis:300|Lato:300');
$white: white;
$black: #000;
$color_desert_storm_approx: #f8f8f8;
$color_havelock_blue_approx: #4a89dc; //urls
$grey: #505a67;
$skyline: url("../public/assets/img/skyline.jpg");
$lato: 'Lato', sans-serif;
$dosis: 'Dosis', sans-serif;
$smooth-out: all 0.3s ease-out; //@extend-elements
//original selectors
//.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after

%extend_1 {
  width                     : 30px;
  height                    : 2px;
  background-color          : $black;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius             : 4px;
  position                  : absolute;
  //Instead of the line below you could use @include transition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
  transition-property       : transform;
  //Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
  transition-duration       : 0.15s;
  //Instead of the line below you could use @include transition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
  transition-timing-function: ease;
}

html {
  body {
    .medium-text {
      font-size: 20px;
    }

    .icon {
      color: $grey;

      &.main-icon {
        font-size : 130px;
        text-align: center;
        display   : block;
        margin    : 40px auto 80px;
      }

      &.blue-gradient {
        background             : -webkit-linear-gradient(45deg, #24C6DC, #514A9D);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .grey {
      color: $grey;
    }

    ::selection {
      background: $black;
      color     : #bbbbbb;
    }

    .project-modal {
      .project-heading {
        * {
          font-family: $lato;
        }

        p {
          font-size     : 17px;
          letter-spacing: 1.5px;
        }

        h1 {
          text-transform: uppercase;
          letter-spacing: 4px;
        }

        .project-meta {
          padding-top: 30px;
          font-size  : 18px;

          h3 {
            text-transform: uppercase;
            font-size     : 22px;
            letter-spacing: 4px;
            font-family   : $dosis;
          }

          p {
            font-family: $lato;
            word-break : break-all;
          }
        }
      }

      .uk-grid-collapse {
        h1,
        h2,
        h3 {
          text-transform: uppercase;
          letter-spacing: 4px;
          font-family   : $lato;
        }
      }
    }

    .grey-gradient {
      background: linear-gradient(#e9e9e9, #f6f6f6);
    }

    .uk-padding-medium {
      padding: 25px;
    }

    .uk-modal-close-full {
      transition   : all 0.3s linear;
      background   : transparent;
      z-index      : 10000;
      border       : 1px solid #fff;
      border-radius: 100%;
      top          : 15px;
      right        : 15px;

      line {
        stroke: #fff!important;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.21);
      }
    }

    .lato {
      font-family: $lato;
    }

    .text-split {
      letter-spacing: 4px;
    }

    .body {
      display       : flex;
      min-height    : 100vh;
      flex-direction: column;

      section {
        .section-title {
          font-size     : 35px;
          text-transform: uppercase;
          letter-spacing: 4px;
          display       : inline-block;
          font-family   : $dosis;

          &::after {
            content         : "";
            display         : block;
            width           : 50%;
            max-width       : 220px;
            height          : 2px;
            margin          : 10px 20px;
            background-color: transparentize($black, 0.5);
          }
        }

        &#about {
          p.summary {
            letter-spacing: 1.24px;
          }

          .panel {
            p {
              font-family: $lato;
              font-size  : 22px;
            }
          }
        }

        &#skills {
          .highcharts-tooltip {
            font-family: $dosis;

            .tooltip-header {
              font-size: 20px;
            }
          }
        }

        &#projects {
          .project-wrapper {
            .uk-padding-small {
              background: linear-gradient(#e9e9e9, #f6f6f6);
            }

            &:hover {
              .project-tagline,
              .project-title {
                margin-left  : 0;
                opacity      : 1;
                padding-right: 0;
              }
            }

            .project-title {
              transition   : all 0.3s linear;
              margin-left  : -50px;
              padding-right: 50px;
            }

            .project-tagline {
              transition   : all 0.3s linear;
              margin-left  : -70px;
              padding-right: 70px;
              opacity      : 0;
            }
          }
        }
      }
    }

    .main-wrapper {
      flex: 1;
    }

    .wt {
      color      : $white;
      /* font-family: 'Raleway', sans-serif; */
      font-weight: 200;
    }

    .cap {
      text-transform: uppercase;
    }

    #main-jumbo {
      background           : $skyline;
      background-size      : cover;
      background-attachment: fixed;
    }

    nav.uk-navbar-container {
      margin-bottom: -100%;
      transition   : $smooth-out;
      font-family  : $lato;

      a.uk-navbar-item.uk-logo {
        z-index: 100;

        svg.svg-logo {
          width     : 70px;
          height    : 70px;
          margin-top: -10px;

          path {
            fill      : #000;
            transition: $smooth-out;
          }
        }
      }

      &.uk-navbar-opaque {
        background-color: $white;

        a.uk-navbar-item.uk-logo .wt {
          color     : $black;
          transition: $smooth-out;
        }
      }

      &.uk-navbar-transparent {
        a.uk-navbar-item.uk-logo svg.svg-logo path {
          fill: #fff;
        }

        .uk-navbar-right .uk-navbar-nav .navlink {
          a {
            color: transparentize($white, 0.4);
          }

          &.uk-active a,
          &:hover a {
            color: transparentize($white, 0.2);
          }
        }

        .hamburger-inner,
        .hamburger-inner::after,
        .hamburger-inner::before {
          background-color: $white;
        }
      }

      .hamburger {
        padding                   : 15px;
        display                   : inline-block;
        cursor                    : pointer;
        //Instead of the line below you could use @include transition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
        transition-property       : opacity, filter;
        //Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
        transition-duration       : 0.15s;
        //Instead of the line below you could use @include transition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
        transition-timing-function: linear;
        font                      : inherit;
        color                     : inherit;
        text-transform            : none;
        background-color          : transparent;
        border                    : 0;
        margin                    : 0;
        overflow                  : visible;
        z-index                   : 100;

        &:hover {
          opacity: 0.7;
        }

        .hamburger-inner {
          //Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
          transition-duration       : 0.1s;
          //Instead of the line below you could use @include transition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }

        .hamburger-inner::before {
          //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
          transition: top 0.1s 0.14s ease, opacity 0.1s ease;
        }

        .hamburger-inner::after {
          //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
          transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
      }

      .hamburger-box {
        width   : 40px;
        height  : 24px;
        display : inline-block;
        position: relative;
      }

      .hamburger-inner {
        display   : block;
        top       : 50%;
        margin-top: -2px;
        @extend %extend_1;
      }

      .hamburger-inner::before {
        @extend %extend_1;
        content: "";
        display: block;
        top    : -8px;
      }

      .hamburger-inner::after {
        @extend %extend_1;
        content: "";
        display: block;
        bottom : -8px;
      }

      div {
        .circle {
          //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
          border-radius: 50%;
          width        : 0;
          height       : 0;
          position     : absolute;
          top          : 0;
          right        : 0;
          background   : #fff;
          opacity      : 1;
          //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
          transition   : all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }

        .menu {
          position  : absolute;
          top       : -100%;
          left      : 0;
          //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
          transition: all 800ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
          display   : none;

          ul li {
            list-style: none;
            margin    : 0;
            visibility: hidden;
            text-align: center;
            font-size : 0;
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: all 1170ms cubic-bezier(0.000, 0.995, 0.990, 1.000);

            a {
              color          : $grey;
              text-transform : uppercase;
              text-decoration: none;
              letter-spacing : 3px;
            }
          }
        }
      }
    }

    header.active nav.uk-navbar-container {
      .hamburger {
        .hamburger-inner {
          //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
          transform                 : rotate(45deg);
          //Instead of the line below you could use @include transition-delay($delay-1, $delay-2, $delay-3, $delay-4, $delay-5, $delay-6, $delay-7, $delay-8, $delay-9, $delay-10)
          transition-delay          : 0.14s;
          //Instead of the line below you could use @include transition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          background-color          : $black;
        }

        .hamburger-inner::before {
          top             : 0;
          opacity         : 0;
          //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
          transition      : top 0.1s ease, opacity 0.1s 0.14s ease;
          background-color: $black;
        }

        .hamburger-inner::after {
          bottom          : 0;
          //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
          transform       : rotate(-90deg);
          //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
          transition      : bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
          background-color: $black;
        }
      }

      a.uk-navbar-item.uk-logo {
        svg.svg-logo {
          path {
            fill      : #000;
            transition: $smooth-out;
          }
        }
      }

      .circle {
        width     : 200vh;
        height    : 200vh;
        top       : -560px;
        right     : -565px;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: all 800ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
      }

      .menu {
        top            : 0;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition     : all 800ms cubic-bezier(0.000, 0.995, 0.990, 1.000);

        ul {
          padding: 0;
          margin : 0;

          li {
            margin    : 30px 0;
            //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
            transition: all 1170ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
          }
        }

        li {
          font-size : 31px;
          visibility: visible;
          //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
          transition: all 1150ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
        }
      }
    }
    @media (min-width: 960px) {
      header.active nav.uk-navbar-container {
        a.uk-navbar-item.uk-logo {
          svg.svg-logo {
            path {
              fill      : $white;
              transition: $smooth-out;
            }
          }
        }

        &.uk-navbar-opaque {
          a.uk-navbar-item.uk-logo {
            svg.svg-logo {
              path {
                fill      : $black;
                transition: $smooth-out;
              }
            }
          }
        }
      }
    }
    @media (min-width: 960px) {
      section {
        .section-title {
          font-size: 42px;
        }
      }

      .full-panel {
        h1 {
          font-family   : $lato;
          text-transform: uppercase;
          letter-spacing: 4px;
        }
      }

      .project-modal {
        .project-heading {
          .project-meta {
            border-top: 1px solid $black;
          }
        }
      }
    }
  }
}
